/* ================================= 
  Base Element Styles
==================================== */

body {
    background-color: #E6DDB8;
}

/* ================================= 
  Base Layout Styles
==================================== */

.search-bar {
  padding: 1rem;
}

.btn-submit {

}

.btn-view-image {
   border: 0.1rem solid #BAB393;
   border-radius: 1rem;
   padding: 0.1rem 1rem;
   margin-bottom: 0.5rem;
   font: normal 0.8rem sans-serif; 
   background-color: white;
   color: #BAB393;
 }

 .results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

.result-card {
  background-color: white;
  text-align: center;
  border-radius: 0.5rem;
  border:0.1rem solid #BAB393; 
  margin: 0.6rem 0.2rem;
  padding: 1%;
  flex-grow: 1;
  flex-basis: 31%;
} 
 
.result-card img {
  max-width: 100%;
  border-radius: 0.3rem;
}

.text-item {
  font: normal 0.7rem sans-serif; 
  padding: 0.1rem 0 0.1rem 0px; 
}

/* ---- Photo Overlay ---- */
.photo-overlay { 
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  border-radius: .4rem;
  padding: 0.1rem 1rem;
  background-color: rgba(0,0,0, .65);
}
/* ================================= 
  Media Queries
==================================== */

