/* ================================= 
  Base Element Styles
==================================== */
body {
    background-color: #E6DDB8;
    font: normal 0.7rem sans-serif; 
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Search Bar ---- */
.search-bar {
  padding: 1rem;
  width:50%;
  font: normal 0.7rem sans-serif; 
}

/* ---- Results ---- */
 .results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
 }

.result-card {
  border: 1px solid grey;
  background-color: white;
  text-align: center;
  border-radius: 0.5rem;
  border:0.1rem solid #BAB393; 
  margin: 0.6rem 0.2rem;
  padding: 1%;
  flex-grow: 1;
  flex-basis: 23%;
} 
 
.result-card img {
  max-width: 100%;
  border-radius: 0.3rem;
}

.text-item {
  font: normal 0.5rem sans-serif; 
  padding: 0.1rem 0 0.1rem 0px; 
}

.tag{
  color: #000;
  font-weight: 300;
  font: normal 0.5rem sans-serif; 
  text-decoration: none;
  background-color: transparent;
  border-radius: .5em;
  border:1px solid grey;
  margin: 0;
}

.btn-view-image {
   border: 0.1rem solid #000;
   border-radius: 1rem;
   padding: 0.1rem 1rem;
   margin-bottom: 0.5rem;
   font: normal 0.8rem sans-serif;
   font-weight: 300; 
   background-color: white;
   color: #000;
 }


/* ---- Photo Overlay ---- */
.photo-overlay {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:center;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  border-radius: .4rem;
  padding: 0.1rem 1rem;
  background-color: rgba(0,0,0, .65);
}
/* ================================= 
  Media Queries
==================================== */

