body {
    background-color: #E6DDB8;
}

.search-bar {
  padding: 1rem;
}

.btn-submit {

}

.btn-view-image {
   border: 0.1rem solid #BAB393;
   border-radius: 1rem;
   padding: 0.1rem 1rem;
   margin-bottom: 0.5rem;
   font: normal 0.8rem sans-serif; 
   background-color: white;
   color: #BAB393;
 }

 .results {
    display: flex;
    flex-wrap: wrap;
 }

.result-card {
  background-color: white;
  text-align: center;
  border-radius: 0.5rem;
  border:0.1rem solid #BAB393; 
  margin: 0.6rem 0.2rem;
  padding: 2%;
  flex-grow: 1;
  flex-basis: 26%;
} 
 
.result-card img {
  max-width: 100%;
}

.result-card-text-item {
  font: normal 0.8rem sans-serif; 
  padding: 0.1rem 0 0.1rem 0px; 
}